/* You can add global styles to this file, and also import other style files */

.done {
    text-decoration: line-through;
}

body {
    background-color: rgb(220, 220, 91);
}
h1{
 font-family: sans-serif;
}